

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    
    
}

ul {
    list-style-type: none;
    
}

i {
    color: white;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.navbar {
    background-color:#128c7e;
    height: 91px;

   
}

li  a {
    text-decoration: none; 
    color: white; 
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    
}

.nav {
    display: flex;
    flex-wrap: wrap;
    
    
}

ul li {
    margin-left: 50px;
    text-transform: uppercase;
}

.logo {
    padding-right: 50px;
}

.img-pc {
    height: 200px;
    width: 355px;
}

.logo-pc {
    height:54px ;
    width: 156px ;
    margin-top: 22px;
}

.header-container {
    background-color: white;
    display: flex;
    justify-content:center;
    color: black;
    height: 900px;
    width: 100%;
    
    


    /* height: 100%; */
  
}

.container1 {
    display: flex;
    flex-direction: column;
    background-color:  #E7F0E4;
    align-items: center;
    width: 100%;
    margin-left: 30px;
    margin-right: 10px;
    /* justify-content: center; */
}


 h2 {
    font-size: 24px;
    /* font-weight: 900; */
    letter-spacing: .05em;
    /* line-height: calc(1.5 * 28px); */
    margin-bottom: 50px;
    padding-top: 90px;
    padding-bottom: 20px;
    font-weight: bold;
    text-align: center;
    
} 



.img1 {
    width: 190px;
    height: 350px;
    
    
}

.img2 {
    width: 166px;
    height: 348px;
    /* padding-left: 20px;*/
}


 .phone-img {
display: flex;
justify-content: space-between;
width: 550px;
}

.button {
padding: 16px 32px;
background-color:#128c7e;
border: none;
border-radius: 40px;
color: white;
font-weight: 400;
font-size: 16px;
line-height: 120%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 490px;
    height: 80px;
    align-items: center;
    
}

.phones-footer {
    width: 50%;
}

.visit{
    
    padding-top: 70px;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
}

.install {
    font-size: 16px;
    line-height: calc(1.5 * 16px);
    text-align: center;
    margin-top: 20px;
    padding-left: 5px;
    font-weight: bold;
    
}

.visit a {
    color: #39b3ed;
    font-size: inherit;
    text-decoration: none;
    font-weight: bold;
}

.install a {
    color: #39b3ed;
    font-size: inherit;
    text-decoration: none;
    font-weight: bolder;
}

.container2 {
    display: flex;
    flex-direction: column;
    background-color: #FCF2C6;
    align-items: center;
    width: 100%;
    margin-left: 10px;
    margin-right: 30px;
       
}

.description {
    width: 80%;
    text-align: center; 
    padding-top: 10px; 
    line-height: 2.8;
}

.description a {
    text-decoration: none;
    color: #39b3ed;
}

.button-pc {
padding: 16px 32px;
background-color:#128c7e;
border: none;
border-radius: 40px;
color: white;
font-weight: 400;
font-size: 16px;
line-height: 120%;
text-transform: uppercase;

}

.buttons-pc {
    padding-top:55px;
}

.footer-container2 div {
    margin-top: 70px;
}

.footer-container2 div a {
    text-decoration: none;
    display: block;
    line-height: 2.8;
    color: #39b3ed;

}

.container-section {
    height: 341px;
    background-color:#273443; 
    display: flex;
    justify-content:space-evenly;
    padding-top: 58px;
    padding-right: 100px;
    padding-left: 100px ;
    width: 100%;
}

.container-section h3 {
    color: white;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.container-section a {
    text-transform: capitalize;
}

.article li {
    margin-left: 0;
}


.main-footer {
    background-color:#1c1e21; ;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 66px;
    font-size: inherit;
    font-weight: bold;
}

.main-footer a {
    text-decoration: none;
    color: white;

}

/* @media (max-width: 768px) { */
    /* .navbar .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    } */

    /* .header-container {
        flex-direction: column;
        text-align: center;
    
    }

    .container1 , .container2 {
        flex-direction: column;
        text-align: center;
        
    }

    .main, .main-footer {
        flex-direction: column;
        text-align: center; 
        

    } */


    @media (max-width: 1200px) {
       .nav  {
        font-size: 12px;
        
    }
}

@media (max-width: 900px) {
.nav i, .nav .en {
    display: none;
}

}


@media (max-width: 1000px) {
    .nav {
        visibility: hidden;
    }

    .container1  {
        flex-wrap: wrap;
        text-align: center;
        /* flex-direction: column; */
    }

    .container2 {
    flex-wrap: wrap;
    text-align: center;
    /* flex-direction: column;*/
} 

    .header-container {
        flex-wrap: wrap;
        height: 2000px;
    }


}

@media (max-width: 300px) {
.container1, .container2 {
    flex-direction: column;
}
}